h1 {
  padding: 50px;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
img {
  border-radius: 50%;
  height: 150px;

}
div {
  margin: 50px 10px;
}
p {
  margin-bottom: 10px;
  font-size: large;
}

ol {
  margin: 50px 10px;
  list-style-type: decimal;
  list-style-position: inside;
}

ul {
  list-style-type: circle;
  margin: 50px 10px;
}

.list {
  font-size: x-large;
  font-weight: bold;
}
